/**/
.sidenav body {
  background: #0032a0;
  background-image: url(https://photos.smugmug.com/JCS-High-School/NewberryMathTechnology/Web-Development-Images/Carnell/i-jkK77Ks/0/a4c011c6/Th/dummy%20pic-Th.png);
  background-size: cover;
}

.jumbotron {
  display: flex;
  align-items: center;
}

.h1 {
  color: #ffad24;
}

.main {
  margin-left: 0px;
  iframeding: 0px 0px;
}

.navbar {
  color: #0032a0;
}

#weiner {
  color: #0032a0;
}

#navbardrop {
  color: #0032a0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

navbar a:hover {
  background: #0032a0;
  color: blue;
}

.navbar a.active {
  background-color: #4caf50;
  color: white;
}

footer {
  width: 100%;
}

iframe {
  display: block;
}

html {
  height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type="text"],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
